@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
    /* dark 01 */
.text-primary{
    color: rgba(19, 19, 19, 1);
}
.text-secondary{
    color: rgba(255, 144, 14, 1);
}
    /* dark 02 */
.text-gray{
    color: rgba(66, 66, 66, 1);
}
    /* dark 03 */
.text-light-gray{
    color: rgba(114, 114, 114, 1);
}
    /* background light*/
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background-color: #FFFFFF;
    color: rgba(66, 66, 66, 1);
    border-color: rgba(255, 144, 14, 1);
}
.section-title{
    font-size: 2.813rem;
    font-weight: 700;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
    /* border: 1px solid tomato; */
}
/* header section */
header{
    /* border: 1px solid tomato; */
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.813rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 6px 18px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.nav-link:hover{
    background-color: rgba(255, 144, 14, 1);
    color: #ffffff;
    border-color: rgba(255, 144, 14, 1);
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
}
/* team and features section */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
.feature-description{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 32px;
}
/* features section */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 25px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 20px;
    border-radius: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.563rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4.063rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}
/* some facts section */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card-content{
    margin-top: 40px;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.fact-number{
    font-size: 2.813rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 50px;
}
/* sponsor section */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    margin: 0 auto;
    filter: grayscale(100%);
}
/* footer section */
footer{
    margin-top: 80px;
    /* border: 1px solid tomato; */
    background-color: rgba(255, 244, 231, 1);
    /* max-width: 1440px; */
    /* margin: 0 auto; */
}
.footer-custom{
    display: flex;
    justify-content: center;
    align-content: center;
}
footer p{
    font-size: 1.00rem;
    /* padding: 40px 410px; */
}
/* responsive media query */
@media screen and (max-width: 576px){
    .navbar,
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .brand{
        margin-bottom: 0px;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    .banner-title{
        margin-top: 20px;
    }
    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: 1fr;
    }
    .teams-button{
        margin-left: 130px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
        /* max-width: 530px; */
    }
    #experience-badge{
        margin-top: -80px;
        margin-left: 65px;
    }
}
/* medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams,
    .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: -80px;
        margin-left: 115px;
    }
}
